export DATABASE_URL="postgres://"
export SERVER_SECRET=""
export PORT=8080

export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

export S3_IMAGE_PROXY_BASE_URL=""
export S3_MEDIA_BUCKET=""
export S3_PROCESSED_MEDIA_BUCKET=""

export SQS_MEDIA_PROCESSING_QUEUE_URL=""

export SNS_APP_ARN=""